<p>
  <strong>Name:</strong>
  <%= @ranger.name %>
</p>

<p>
  <strong>Parks:</strong>
  <%# <%= @article.text %> %>
</p>

<%= link_to 'Back', root_path %>
<%# <%= link_to 'Edit', edit_article_path(@article) %> %>