$text-color: #648961;

body{
	color: $text-color;
}

form{
	background-color: white;
	margin: 20px;

	p{
		font-size: 10px;
		font-style: bold;
	}
}

.form-title{
	color: blue
}

.sub-title{
	@extend .form-title;
}
